<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Terrificminds_CustomSurveyForm::customform" title="Custom Form"  module="Terrificminds_CustomSurveyForm" sortOrder="51" resource="Terrificminds_CustomSurveyForm::customform"/>
        <add id="Terrificminds_CustomSurveyForm::feedback"   title="Feedback Form" action="CustomSurveyForm/Index/Index" module="Terrificminds_CustomSurveyForm" sortOrder="20" resource="Terrificminds_CustomSurveyForm::feedback" parent="Terrificminds_CustomSurveyForm::customform"/>
    </menu>
</config>
