<?xml version = "1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Terrificminds\CustomSurveyForm\Api\Data\FormInterface"
                type="Terrificminds\CustomSurveyForm\Model\CustomSurveyForm" />
    <preference for="Terrificminds\CustomSurveyForm\Api\FormRepositoryInterface"
                type="Terrificminds\CustomSurveyForm\Model\FormRepository" />
    <preference for="Terrificminds\CustomSurveyForm\Api\Data\FormSearchResultInterface"
                type="Terrificminds\CustomSurveyForm\Model\FormSearchList"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="custom_survey_form_data_source" xsi:type="string">CustomSurveyCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomSurveyCollection"
                 type="Terrificminds\CustomSurveyForm\Ui\DataProvider\SurveyForm\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_form_table</argument>
            <argument name="resourceModel" xsi:type="string">Terrificminds\CustomSurveyForm\Model\ResourceModel\CustomSurveyForm</argument>
        </arguments>
    </virtualType>
</config>